<div class="container" style="background-color:black">
  <h1 style="text-align: center; color:blueviolet;">Online Test Portal</h1>
  <h3 style="color: lightslategray">Points to remember</h3>
  <ol style="color:lightgreen ;">
    <li>Enter the name and give start test</li>
    <br>
    <li>This test consists of four section </li>
    <br>
    <li>Should not skip any Question answer all the question</li>
    <br>
    <li>You get your after final question of the each section</li>
    <br>
    <li>Take the test from the silent place and ensure not to involve in any kind of malpractice.</li>
    <br>
    <br>
    <br>
  </ol>

    <h1 style="text-align: center; color:red">Best Of Luck !!</h1>

  <div class="col-md-4 my-3">
    <label>Enter your name</label>
    <input #name type="text" class="form-control" placeholder="Enter your name">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/java" (click)="startquiz()">Take Test</button>
</div>