<div class="container bg-dark py-5">
  <h1 style="text-align: center; color: #00e7ff;">Welcome to our Test Portal</h1>
  <h3 style="color: #7FDBFF;">Test Instruction</h3>
  <ul style="color:#AAAAAA ;">
    <li>1.Enter the username </li>
    <br>
    <li>2.you will redirected to the java quiz</li>
    <br>
    <li>3.Should not skip any Question answer all the question</li>
    <br>
    <li>4.Result will published when you complete the test</li>
    <br>
    <li>5. Should not invovle in any malpratice(Use of mobile phone and calculator)</li>
    <br>
    <li>6. Should not refresh the page in the middle</li>
    <br>
    <li>7. Complete the test with 1 hour of time otherwise we wont consider your answer</li>
  </ul>
    <br>
    <br>

    <h1 style="text-align: center; color:#7FDBFF">ALL THE BEST !!</h1>

  <div class="col-md-4 my-3">
    <label>Enter your name</label>
    <input #name type="text" class="form-control" placeholder="Enter your name">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/java" (click)="startquiz()">Take Test</button>
</div>